*.foreground:    #A9B1D6
*.background:    #1A1B26
*.cursorColor:   #A9B1D6
*.highlightColor:#3A3F4B

!*fading:                  40
!*fadeColor:               S_base03
!*pointerColorBackground:  S_base01
!*pointerColorForeground:  S_base1

! Normal      Bright
! --------    -------
! 0 Black      8 Black
! 1 Red        9 Red
! 2 Yellow    10 Yellow
! 3 Green     11 Green
! 4 Blue      12 Blue
! 5 Magenta   13 Magenta
! 6 Cyan      14 Cyan
! 7 White     15 White

! Black colours
*.color0:        #1A1B26
*.color8:        #4E5173
! Red colours
*.color1:        #F7768E
*.color9:        #E06C75
! Yellow colours
*.color2:        #E0AF68
*.color10:       #D19A66
! Green colours
*.color3:        #9ECE6A
*.color11:       #98C379
! Blue colours
*.color4:        #7AA2F7
*.color12:       #61AFEF
! Magenta (pink, !green) colours
*.color5:        #9A7ECC
*.color13:       #C678DD
! Cyan (blue + green)
*.color6:        #4ABAAF
*.color14:       #56B6C2
! White colours
*.color7:        #ACB0D0
*.color15:       #ABB2BF

! xterm.vt100.faceName:           Terminus:style=Regular:size=10
! xterm.vt100.faceNameDoublesize: Cyberbit:style=Regular:size=10

XTerm.vt100.bellIsUrgent:          true
XTerm.vt100.alternateScroll: true
XTerm.vt100.selectToClipboard: true

Xcursor.theme: xcursor-breeze
Xcursor.size:                     0

URxvt.font:                       9x15,xft:Mononoki Nerd Font Mono

! alternative font settings with 'terminus':
! URxvt.font:      -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
! URxvt.bold.font: -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso10646-1
!! terminus names see end of file!

URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*foreground:                 grey
URxvt*saveLines:                  5000

! for 'fake' transparency (without Compton) uncomment the following three lines
! URxvt*inheritPixmap:            true
! URxvt*transparent:              true
! URxvt*shading:                  138

! Normal copy-paste keybindings without perls
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard
!Xterm escape codes, word by word movement
URxvt.keysym.Control-Left:        \033[1;5D
URxvt.keysym.Shift-Control-Left:  \033[1;6D
URxvt.keysym.Control-Right:       \033[1;5C
URxvt.keysym.Shift-Control-Right: \033[1;6C
URxvt.keysym.Control-Up:          \033[1;5A
URxvt.keysym.Shift-Control-Up:    \033[1;6A
URxvt.keysym.Control-Down:        \033[1;5B
URxvt.keysym.Shift-Control-Down:  \033[1;6B

! transparency in i3
!URxvt.transparent: true
!URxvt.shading:20

Xft.dpi: 96
Xft.Hinting: 1
Xft.RGBA: rgb
Xft.HintStyle: hintslight
Xft.Antialias: 1
